<div class="panel">
    <div class="pad-all file-manager">
        <div class="fixed-fluid">
            <div class="fluid file-panel">
                <div class="bord-btm pad-ver">
                    <ol class="breadcrumb">
                        <li><a href="#">File Share</a></li>
                        <li><a href="#">Folders</a></li>
                        <li class="active">Folder Access</li>
                        <li class="active">Details</li>
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 p-4">
                            <p>
                                File archiving queued. You will receive an email when it's ready to download.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>