@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="panel">
        <div class="panel-body">

            <h1 class="display-4">Welcome</h1>
            <p>Dino Share is a self hosted private cloud developed by <a href="https://technodezi.co.za" target="_blank">TechnoDezi</a> that helps user share their local files with the world.</p>
            <p>Similar to DropBox, GoogleDrive and OneDrive you can invite users and only grant access to certain folders and files</p>
            <p></p>
            <p>
                <center>
                    <img src="~/img/dinoshare.png" />
                </center>
            </p>
        </div>
    </div>    
</div>
