@model DinoShare.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <div class="mar-ver pad-btm">
                <h1 class="h3">Forgot Password</h1>
                <p>Please enter your email address to receive a reset link.</p>
            </div>
            @Html.AntiForgeryToken()
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert-danger">
                    <p>
                        @ViewBag.Error
                    </p>
                </div>
            }
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" id="loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="name@example.com" autofocus asp-for="Username">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
            </form>
        </div>

        <div class="pad-all">
            <a href="/Account/Login" class="btn-link mar-rgt">Back to login</a>
            @*<a href="/Account/Register" class="btn-link mar-lft">Create a new account</a>*@
        </div>
    </div>
</div>