@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <div class="mar-ver pad-btm">
                <h1 class="h3">Forgot Password</h1>
                <p>Confirmation</p>
            </div>
            @Html.AntiForgeryToken()
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert-danger">
                    <p>
                        @ViewBag.Error
                    </p>
                </div>
            }
        <div class="pad-all">
            Your password was changed successfully. You can now log in again.
        </div>
        </div>

        <div class="pad-all">
            <a href="/Account/Login" class="btn-link mar-rgt">Back to login</a>
            @*<a href="/Account/Register" class="btn-link mar-lft">Create a new account</a>*@
        </div>
    </div>
</div>