@model DinoShare.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="cls-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <div class="mar-ver pad-btm">
                <h1 class="h3">Forgot Password</h1>
                <p>Please enter your new password to reset.</p>
            </div>
            @Html.AntiForgeryToken()
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert-danger">
                    <p>
                        @ViewBag.Error
                    </p>
                </div>
            }
            <form asp-controller="Account" asp-action="ResetPassword" method="post" id="loginForm">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" autofocus asp-for="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Reset</button>
                <input type="hidden" asp-for="T" />
            </form>
        </div>

        <div class="pad-all">
            <a href="/Account/Login" class="btn-link mar-rgt">Back to login</a>
            @*<a href="/Account/Register" class="btn-link mar-lft">Create a new account</a>*@
        </div>
    </div>
</div>